.profile__image {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
	padding-bottom: 1rem;
}

.profile__image .profile__avatar {
	width: 100px;
	height: 100px;
}

.profile__address {
	color: var(--clr-black);
	margin: 1rem 2rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-bottom: 1px solid #C4C4C4;
}

.profile__address p {
	margin: 0;
}

.profile__address p:nth-child(1) {
	font-size: 1.8rem;
	font-weight: 600;
}

.profile__address p:nth-child(2) {
	font-size: 1.4rem;
}
